.percentage:after {
    content: "";
    display: block;
    background-color: #3d9970;
  }
  .percentage-20:after {
    width: 20%;
  }
  .percentage-30:after {
    width: 30%;
  }
.dt:{color: palevioletred;
}
.percentage {
    background: repeating-linear-gradient(
      to right,
      #ddd,
      #ddd 1px,
      #fff 1px,
      #fff 5%
    );
  }
  .chartlist li { 
    position: relative;
    display: block; 
  }
  .chartlist .count { 
    display: block; 
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 0 0.3em; 
    text-align: right; 
    color: #999; 
    font-weight: bold; 
    font-size: 0.875em; 
  }
  .chartlist li a { 
    display: block; 
    padding: 0.4em 4.5em 0.4em 0.5em;
    position: relative; 
    z-index: 2; 
  }
  .chartlist .index { 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    background: #B8E4F5; 
    text-indent: -9999px; 
    overflow: hidden; 
  }